<table>
  <tr>
    <th>
      导航名称
    </th>
    <th>
      描述
    </th>
    <th>
      图标
    </th>
    <th>
      TAG
    </th>
    <th>
      排序
    </th>
    <th>

    </th>
    <th>

    </th>
  </tr>
  <% navs.forEach(function(nav){ %>
    <tr>
      <td>
        <%= nav.name %>
      </td>
      <td>
        <%= nav.desc %>
      </td>
      <td>
        <%= nav.icon %>
      </td>
      <td>
        <%= nav.tag %>
      </td>
      <td>
        <%= nav.sort %>
      </td>
      <td>
        <a href="/navigation/edit/<%=nav.id%>" >修改</a>
      </td>
      <td>
        <a href="/navigation/delete/<%=nav.id%>" onclick="if(!confirm('删除后不可恢复,确定删除纪录吗?'))return false;">删除</a>
      </td>
    </tr>
  <% }) %>
</table>
<br>
<a href="/navigation/new">创建导航</a>
<a href="/">首页</a>
