<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>BD Games</title>
    <meta name="description" content="BDGames" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
               <script type="text/javascript" src="js/html5shiv.js"></script>
               <script type="text/javascript" src="js/respond.min.js"></script>
            <![endif]-->
    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files338
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--Basic Styles-->
    <link href="/styles/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="/styles/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">


    <!--Beyond styles-->
    <link id="beyond-link" href="/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="/styles/demo.min.css" rel="stylesheet" />
    <link href="/styles/typicons.min.css" rel="stylesheet" />
    <link href="/styles/animate.min.css" rel="stylesheet" />
    <link href="/styles/custom.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <script src="/js/jquery-2.0.3.min.js" charset="utf-8"></script>
    <script src="/js/skins.min.js"></script>


    <script src="/js/select2/select2.js" charset="utf-8"></script>


    <!--Page Related styles-->
    <link href="/styles/dataTables.bootstrap.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Loading Container -->
    <div class="loading-container" style="display:none;">
        <div class="loading-progress">
            <div class="rotator">
                <div class="rotator">
                    <div class="rotator colored">
                        <div class="rotator">
                            <div class="rotator colored">
                                <div class="rotator colored"></div>
                                <div class="rotator"></div>
                            </div>
                            <div class="rotator colored"></div>
                        </div>
                        <div class="rotator"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
   <div class="navbar">
       <div class="navbar-inner">
           <div class="navbar-container">
               <!-- Navbar Barnd -->
               <div class="navbar-header pull-left">
                   <a href="/" class="navbar-brand">
                       <small>
                           <img src="/images/logo.png" alt="" />
                       </small>
                   </a>
               </div>
               <!-- /Navbar Barnd -->

               <!-- Sidebar Collapse -->
               <div class="sidebar-collapse" id="sidebar-collapse">
                   <i class="collapse-icon fa fa-bars"></i>
               </div>
               <!-- /Sidebar Collapse -->
               <!-- Account Area and Settings --->
               <div class="navbar-header pull-right">
                   <div class="navbar-account">
                       <ul class="account-area">
                           <li>
                               <a class=" dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
                                   <i class="icon fa fa-warning"></i>
                               </a>
                               <!--Notification Dropdown-->
                               <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <div class="notification-icon">
                                                   <i class="fa fa-phone bg-themeprimary white"></i>
                                               </div>
                                               <div class="notification-body">
                                                   <span class="title">Skype meeting with Patty</span>
                                                   <span class="description">01:00 pm</span>
                                               </div>
                                               <div class="notification-extra">
                                                   <i class="fa fa-clock-o themeprimary"></i>
                                                   <span class="description">office</span>
                                               </div>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <div class="notification-icon">
                                                   <i class="fa fa-check bg-darkorange white"></i>
                                               </div>
                                               <div class="notification-body">
                                                   <span class="title">Uncharted break</span>
                                                   <span class="description">03:30 pm - 05:15 pm</span>
                                               </div>
                                               <div class="notification-extra">
                                                   <i class="fa fa-clock-o darkorange"></i>
                                               </div>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <div class="notification-icon">
                                                   <i class="fa fa-gift bg-warning white"></i>
                                               </div>
                                               <div class="notification-body">
                                                   <span class="title">Kate birthday party</span>
                                                   <span class="description">08:30 pm</span>
                                               </div>
                                               <div class="notification-extra">
                                                   <i class="fa fa-calendar warning"></i>
                                                   <i class="fa fa-clock-o warning"></i>
                                                   <span class="description">at home</span>
                                               </div>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <div class="notification-icon">
                                                   <i class="fa fa-glass bg-success white"></i>
                                               </div>
                                               <div class="notification-body">
                                                   <span class="title">Dinner with friends</span>
                                                   <span class="description">10:30 pm</span>
                                               </div>
                                           </div>
                                       </a>
                                   </li>
                                   <li class="dropdown-footer ">
                                       <span>
                                           Today, March 28
                                       </span>
                                       <span class="pull-right">
                                           10°c
                                           <i class="wi wi-cloudy"></i>
                                       </span>
                                   </li>
                               </ul>
                               <!--/Notification Dropdown-->
                           </li>
                           <li>
                               <a class="wave in dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
                                   <i class="icon fa fa-envelope"></i>
                                   <span class="badge">3</span>
                               </a>
                               <!--Messages Dropdown-->
                               <ul class="pull-right dropdown-menu dropdown-arrow dropdown-messages">
                                   <li>
                                       <a href="#">
                                           <img src="/images/avatars/divyia.jpg" class="message-avatar" alt="Divyia Austin">
                                           <div class="message">
                                               <span class="message-sender">
                                                   Divyia Austin
                                               </span>
                                               <span class="message-time">
                                                   2 minutes ago
                                               </span>
                                               <span class="message-subject">
                                                   Here's the recipe for apple pie
                                               </span>
                                               <span class="message-body">
                                                   to identify the sending application when the senders image is shown for the main icon
                                               </span>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <img src="/images/avatars/bing.png" class="message-avatar" alt="Microsoft Bing">
                                           <div class="message">
                                               <span class="message-sender">
                                                   Bing.com
                                               </span>
                                               <span class="message-time">
                                                   Yesterday
                                               </span>
                                               <span class="message-subject">
                                                   Bing Newsletter: The January Issue‏
                                               </span>
                                               <span class="message-body">
                                                   Discover new music just in time for the Grammy® Awards.
                                               </span>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <img src="/images/avatars/adam-jansen.jpg" class="message-avatar" alt="Divyia Austin">
                                           <div class="message">
                                               <span class="message-sender">
                                                   Nicolas
                                               </span>
                                               <span class="message-time">
                                                   Friday, September 22
                                               </span>
                                               <span class="message-subject">
                                                   New 4K Cameras
                                               </span>
                                               <span class="message-body">
                                                   The 4K revolution has come over the horizon and is reaching the general populous
                                               </span>
                                           </div>
                                       </a>
                                   </li>
                               </ul>
                               <!--/Messages Dropdown-->
                           </li>

                           <li>
                               <a class="dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#">
                                   <i class="icon fa fa-tasks"></i>
                                   <span class="badge">4</span>
                               </a>
                               <!--Tasks Dropdown-->
                               <ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
                                   <li class="dropdown-header bordered-darkorange">
                                       <i class="fa fa-tasks"></i>
                                       4 Tasks In Progress
                                   </li>
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <span class="pull-left">Account Creation</span>
                                               <span class="pull-right">65%</span>
                                           </div>

                                           <div class="progress progress-xs">
                                               <div style="width:65%" class="progress-bar"></div>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <span class="pull-left">Profile Data</span>
                                               <span class="pull-right">35%</span>
                                           </div>

                                           <div class="progress progress-xs">
                                               <div style="width:35%" class="progress-bar progress-bar-success"></div>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <span class="pull-left">Updating Resume</span>
                                               <span class="pull-right">75%</span>
                                           </div>

                                           <div class="progress progress-xs">
                                               <div style="width:75%" class="progress-bar progress-bar-darkorange"></div>
                                           </div>
                                       </a>
                                   </li>
                                   <li>
                                       <a href="#">
                                           <div class="clearfix">
                                               <span class="pull-left">Adding Contacts</span>
                                               <span class="pull-right">10%</span>
                                           </div>

                                           <div class="progress progress-xs">
                                               <div style="width:10%" class="progress-bar progress-bar-warning"></div>
                                           </div>
                                       </a>
                                   </li>
                                   <li class="dropdown-footer">
                                       <a href="#">
                                           See All Tasks
                                       </a>
                                       <button class="btn btn-xs btn-default shiny darkorange icon-only pull-right"><i class="fa fa-check"></i></button>
                                   </li>
                               </ul>
                               <!--/Tasks Dropdown-->
                           </li>
                           <li >
                               <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                   <div class="avatar" title="View your public profile">
                                       <img src="/images/avatars/adam-jansen.jpg">
                                   </div>
                                   <section style="min-width:110px;">
                                       <h2><span class="profile"><span><%= currUser.Name %></span></span></h2>
                                   </section>
                               </a>
                               <!--Login Area Dropdown-->
                               <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                   <li class="username"><a><%= currUser.Name || '' %></a></li>
                                   <li class="email"><a><%= currUser.mail || '' %></a></li>
                                   <!--Avatar Area-->
                                   <li>
                                       <div class="avatar-area">
                                           <img src="/images/avatars/adam-jansen.jpg" class="avatar">
                                           <span class="caption">修改头像</span>
                                       </div>
                                   </li>
                                   <!--Avatar Area-->
                                   <li class="edit">
                                       <a href="/profile" class="pull-left">个人中心</a>
                                       <a href="#" class="pull-right">设置</a>
                                   </li>
                                   <!--Theme Selector Area-->
                                   <li class="theme-area">
                                       <ul class="colorpicker" id="skin-changer">
                                           <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="/styles/skins/blue.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="/styles/skins/azure.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="/styles/skins/teal.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="/styles/skins/green.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="/styles/skins/orange.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="/styles/skins/pink.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="/styles/skins/darkred.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="/styles/skins/purple.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="/styles/skins/darkblue.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="/styles/skins/gray.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="/styles/skins/black.min.css"></a></li>
                                           <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="/styles/skins/deepblue.min.css"></a></li>
                                       </ul>
                                   </li>
                                   <!--/Theme Selector Area-->
                                   <li class="dropdown-footer">
                                       <a href="/logout">
                                           注销
                                       </a>
                                   </li>
                               </ul>
                               <!--/Login Area Dropdown-->
                           </li>
                           <!-- /Account Area -->
                           <!--Note: notice that setting div must start right after account area list.
                           no space must be between these elements-->
                           <!-- Settings -->
                       </ul><div class="setting">
                           <a id="btn-setting" title="Setting" href="#">
                               <i class="icon glyphicon glyphicon-cog"></i>
                           </a>
                       </div><div class="setting-container">
                           <label>
                               <input type="checkbox" id="checkbox_fixednavbar">
                               <span class="text">固定顶部导航</span>
                           </label>
                           <label>
                               <input type="checkbox" id="checkbox_fixedsidebar">
                               <span class="text">固定侧面到货</span>
                           </label>
                           <label>
                               <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                               <span class="text">固定地址栏</span>
                           </label>
                           <label>
                               <input type="checkbox" id="checkbox_fixedheader">
                               <span class="text">固定页头</span>
                           </label>
                       </div>
                       <!-- Settings -->
                   </div>
               </div>
               <!-- /Account Area and Settings -->
           </div>
       </div>
   </div>
   <!-- /Navbar -->

   <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">搜索报表、图标、邮件或通知</div>
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--Dashboard-->
                    <li class="active">
                        <a href="/">
                            <i class="menu-icon glyphicon glyphicon-home"></i>
                            <span class="menu-text"> 管理首页 </span>
                        </a>
                    </li>
                    <!--System-->
                    <%- partial('home/navbar') %>
                </ul>
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">管理首页</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1 id="title">
                          <%- title %>
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body" >
                  <%- body %>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->
       </div>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--Basic Scripts-->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/beyond.min.js"></script>

    <script src="/js/bootbox/bootbox.js"></script>
    <script type="text/javascript">
      function funDel(id,func) {
        bootbox.confirm("删除后不可恢复,确定删除纪录吗?", func);
      }
    </script>

    <!--Page Related Scripts-->
    <script src="/js/datatable/jquery.dataTables.min.js"></script>
    <script src="/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="/js/datatable/dataTables.bootstrap.min.js"></script>

    <!--<script src="/js/datatable/datatables-init.js"></script>-->
    <script>
        // InitiateSimpleDataTable.init();
        // InitiateEditableDataTable.init();
        // InitiateExpandableDataTable.init();
        // InitiateSearchableDataTable.init();
    </script>
    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->



  </body>
</html>
