<label for="name">名称</label>
<input type="text" name="name" value="<%= func.name %>">
<br>
<label for="desc">说明</label>
<input type="text" name="desc" value="<%= func.desc %>">
<br>

<label for="code">代码</label>
<input type="text" name="code" value="<%= func.code %>">
<br>

<label for="sort">拍序</label>
<input type="text" name="sort" value="<%= func.sort %>">
<br>
<input type="hidden" name="_csrf" value="<%= _csrf %>" />
